.welcome-page-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .welcome-page-content,
  .welcome-page-pic {
    flex-basis: 50%; 
    text-align: center; 
    padding-bottom: 40px;
  }
  
.welcome-page h1 {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 56px;
    text-transform: uppercase;

    color: #666666;
}
.welcome-page button {
    width: 420px;
    height: 86px;
    background: #99BAEB;
    border-radius: 10px;
    border: none;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 44px;
    color: #EEEEEE;
    cursor: pointer;

}
