
.content-wrapper {
    display: flex;
}
.flag-container {
    flex-basis: 20%;
}
.holidays-list {
    flex-basis: 80%;
}
.holiday-wrapper {
    display: flex;
    justify-content:flex-end;
    position: relative;
}
.country-container {
    margin-right: 3%;
    margin-top: 20px;
}
.holiday {
    height: 74px;
    align-items: center;
    gap: 10px;

    background: #FFFFFF;
    border-radius: 10px;
    margin-bottom: 40px;
}
.name-container {
    flex-basis: 60%;
    justify-content: center;
}
.date-container {
    flex-basis: 10%;
    margin-right: 20px;

}
p {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #666666;
    margin-left: 4px;
    margin-right: 4px;
}
.date-container p {
    white-space: nowrap;
}
.local-name {
    
    font-family: Mulish;
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    color: #DDAC62;

}
.other-sections-flag {
    width: 50px
}
.selector-section-flag {
    width: 200px
  }
.empty-favorites {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}
.empty-favorites p {
    display:inline-block;
    font-size: 30px;
    text-transform:uppercase;
}

  @media screen and (max-width: 850px) {
    .flag-container {
        flex-basis: 15%;
    }
    .selector-section-flag {
        width: 100%;
      }
    .date-container {
        flex-basis: 15%;
    }
  }
  @media screen and (max-width: 550px) {
    p, .local-name {
        font-size: 16px;
    }
  }