.selector-wrapper {
    display: flex 
}
select {
    flex-basis: 50%;
    margin: 0px 30px 30px 0;
    height: 67px;
    background-color:  #FFFFFF;
    border-radius: 10px;
    border-style: none;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 31px;
    padding-right: 20px;

    color: #666666;

    position: relative;
    appearance: none;
    padding-left: 20px;
    background-image: url(../../img/Polygon1.svg), linear-gradient(to right, #FFFFFF, #FFFFFF);
    background-repeat: no-repeat;
    background-position: 96%;
    background-size: 20px, auto;

    z-index: 1;
    
}

.selector-section-flag {
    filter: drop-shadow(10px 10px 50px rgba(102, 102, 102, 0.8));
}
@media screen and (max-width: 800px) {
    .year-selector{
        flex-basis: 25%;
    }
    .country-selector{
        flex-basis: 30%;
    }
    select {
        justify-content: space-between;
        margin: 0px 10px 40px 0;
        font-size: 20px;
        height: 50px;

    }
  }